include README.md
include LICENSE
include zensical.toml
include docs/index.md
include docs/user/index.md
include docs/user/quickstart.md
include docs/developer/index.md
include docs/developer/architecture.md
include docs/developer/design.md
include docs/developer/decisions.md
recursive-include src/pqrun *.sql
recursive-include src/pqrun py.typed
recursive-include examples *.py *.sql
